  <!-- Adding tabs -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">   <!-- Slot bottom to position it at the bottom of the page -->
      <ion-tab-button tab="test-package">
        <ion-icon name="desktop-outline"></ion-icon>
        <ion-label>Tests</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="home-package">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="video-package">
        <ion-icon name="videocam-outline"></ion-icon>
        <ion-label>Videos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

